.try-on-ar{
    background: #7843E8;
    width: 100%;
}
:root{
    --card-height:10rem;
    --card-width:.67rem;
}
.cards-overall-container{
    padding-top:12%;
    padding-bottom: 5%;
}
.discover-style{
    position: absolute;
    margin-top: 0;
    font-family: 'Clash Display Bold';
    font-style: normal;
    margin-left: 15px;
    font-weight: 700;
    /* font-size: 261.25px; */
    font-size: 17.5vw;
    line-height: 30vh;
    background: linear-gradient(180deg, rgba(205, 201, 201, 0.3) -7.55%, rgba(210, 210, 210, 0) 166%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
    color: transparent;
}
.ar-card{
    width: 100%;
    height: 100%;
    background: #000000;
    border-radius: 2vw;
    padding: 20px;
    display: flex;
    justify-content: end;

}

.mobile-ar-card {
    order: 1;
}
.snap-img{
    width: 100%;
    align-self: right;
    padding: 5%;
}
.card-text{
    position: absolute;
    bottom: 10%;
    transform:translate(-55%,-100%) rotate(270deg);
    color: white;
    left: 0;
    /* display: none; */

}
.card{
    width: 90%;
    margin-bottom: 5%;
    background: linear-gradient(to bottom, rgba(152, 29, 255, 1),rgba(88, 40, 255, 1));
    border-radius: 2vw;
    padding: 1%;
}
.card:hover{
    background: white;  
    transition: background .5s ease-in-out; 
}
.card:hover .ar-card{
    background:linear-gradient(180deg, #472CFF 0%, #6233FF 100%);
    border: 0;
    transition: background .5s ease-in-out; 
}
.card:hover .ar-card .img-container .card-text{
    display: block;
    transition: font-size .5s ease; 
} 
.card:hover .ar-card .img-container .qr{
    transform: translate(-100%,-50%);
    transition: all .3s ease-in-out;
}

.qr{
    width: 4rem;
    height: 4rem;
    position: absolute;
    left: 0;
    top: 50%;
    transform: translate(-50%,-50%);
}
.img-container{
    position: relative;
    display: flex;
    width: 80%;
    justify-content: end;
}

@media (min-width: 576px) {
    .mobile-ar-card {
        order: 0;
    }
}