.about{
    /* border-bottom: 2px solid white; */
    border-top: 2px solid white;
}
:root{
--base-font-title:2.1rem;
--base-font-subtitle:.8rem;
--base-title-line:2.4rem;
--base-subtitle-line:1rem;
--refresh-btn:4rem;
}
.row{
    margin: 0 !important;
}
.about-title{
    font-family: 'Clash Display Bold';
    font-size: var(--base-font-title);
    color: white;
    text-align: left;
    font-weight: 700;
    line-height: 3rem;
}
.about-subtitle{
    font-family: 'Clash Display Medium';
    font-size: var(--base-font-subtitle);
    color: white;
    text-align: left;
    font-weight: 400;
    line-height: 1rem;
}
.about-img{
    width: 70%;
    height: auto;
}
.about-container{
    position: relative;
    border-bottom: 2px solid #fff;
    padding: 5%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.about-img-contaier{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top:10%;
}
.refresh-btn-mob
{
    width: var(--refresh-btn);
    height: var(--refresh-btn);;
    background: #454545;
    border-radius: 50%;
    position: absolute;
    bottom: 0%;
    transform: translateY(50%);
    display: flex;
    justify-self: center;
    justify-content: center;
    align-items: center;
    padding: 2%;
    left: 50%;
    transform: translate(-50%,50%);
}
.refresh-btn-des{
    width: var(--refresh-btn);
    height: var(--refresh-btn);
    background: #454545;
    border-radius: 50%;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    display: flex;
    justify-self: center;
    justify-content: center;
    align-self: center;
}
.icon{
    position: absolute;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    border-radius: 50%;
    /* background-color: white !important; */
}
.text{
    position: absolute;
    height: 100%;
    width: 100%;
    animation: textRotate 10s linear infinite;
}

@keyframes textRotate{
    0%{
        transform: rotate(360deg);
    }
    100%{
        transform: rotate(0deg);
    }
}

.text span{
    position: absolute;
    font-family: 'Clash Display Medium';
    left: 50%;
    color: white;
    font-size: .5rem;
    transform-origin:0 2rem;
}

@media (min-width: 576px) {
    .about-container{
        border-right: 2px solid white !important;;
    }
}
@media (min-width: 768px) {
    .about-title{
        font-size: calc(var(--base-font-title)*1.2);
        line-height: calc(var(--base-title-line)*1.2);
    }
    .about-subtitle{
        font-size: calc(var(--base-font-subtitle)*1.2);
        line-height: calc(var(--base-subtitle-line)*1.2);
    }
    /* .refresh-btn-des{
        width: calc(var(--refresh-btn)*1.2);
        height: calc(var(--refresh-btn)*1.2);
    } */
    .about-container {
        border-bottom: none !important;
    }
}
@media (min-width: 992px) {
    .about-title{
        font-size: calc(var(--base-font-title)*1.4);
        line-height: calc(var(--base-title-line)*1.4);
    }
    .about-subtitle{
        font-size: calc(var(--base-font-subtitle)*1.4);
        line-height: calc(var(--base-subtitle-line)*1.4);
    }

}
@media (min-width: 1200px) {
    .about-title{
        font-size: calc(var(--base-font-title)*1.6);
        line-height: calc(var(--base-title-line)*1.6);
    }
    .about-subtitle{
        font-size: calc(var(--base-font-subtitle)*1.6);
        line-height: calc(var(--base-subtitle-line)*1.6);
    }


}
@media (min-width: 1400px) {
    .about-title{
        font-size: calc(var(--base-font-title)*1.8);
        line-height: calc(var(--base-title-line)*1.8);
    }
    .about-subtitle{
        font-size: calc(var(--base-font-subtitle)*1.8);
        line-height: calc(var(--base-subtitle-line)*1.8);
    }


}
@media (min-width: 1600px) {
    .about-title{
        font-size: calc(var(--base-font-title)*2);
        line-height: calc(var(--base-title-line)*2);
    }
    .about-subtitle{
        font-size: calc(var(--base-font-subtitle)*2);
        line-height: calc(var(--base-subtitle-line)*2);
    }


}
@media (min-width: 1800px) {
    .about-title{
        font-size: calc(var(--base-font-title)*2.2);
        line-height: calc(var(--base-title-line)*2.2);
    }
    .about-subtitle{
        font-size: calc(var(--base-font-subtitle)*2.2);
        line-height: calc(var(--base-subtitle-line)*2.2);
    }    
}