.header-container {
  position: fixed;
  top: 0%;
  width: 100%;
  display: flex;
  justify-content: space-between;
  color: #fff;
  background-color: black;
  align-items: center;
  z-index: 1000;
  height: 5rem;
    border-bottom: .5px solid white;
}
.xrc-logo::after{
  content: "";
  background-color: white;
  height: 1px;
  width: 100%;
  transform: rotate(90deg);
  position: absolute;
  right: 0;
  bottom: 0;
}

.xrc-logo {
  width: 9rem;
}

.header-options {
  display: flex;
  color: #fff;
  font-family: "Clash Display Medium";
}

.header-link {
  cursor: pointer;
}

.header-options-button {
  background: linear-gradient(180deg, #432BFF 0%, #6534FF 100%);
  font-size: 1rem;
  font-family: "Clash Display Bold";
}

.logo-border {
  position: absolute;
  border-right: 0.5px solid #fff;
  width: calc(12.5% + 100px);
  height: 5rem;
  top: 0;
}
@media (max-width:576px){
  .xrc-logo-container{
    padding: 1rem;
  }
}
@media (min-width: 576px) {
  .header-container, .footer-container {
    padding: 2rem !important;
  }
  .xrc-logo {
    width: 12rem;
  }
}

@media (min-width: 768px) {
  .header-container, .footer-container {
    padding: 1rem !important;
  }
  .xrc-logo {
    width: 12rem;
  }
  .header-options-item {
    margin: 0rem 1rem;
    font-size: 1rem;
  }
  .header-options-button {
    padding: 0.3rem 1.5rem !important;
  }
  .header-container {
    height: 6rem;
  }
  .logo-border {
    height: 6rem;
  }  
}

@media (min-width: 1200px) {
  .header-container, .footer-container {
    padding: 1rem 3rem !important;
  }
  .xrc-logo {
    width: 13rem;
  }
  .header-options-item {
    margin: 0rem 1.5rem;
    font-size: 1.1rem;
  }
  .header-options-button {
    padding: 0.4rem 1.7rem !important;
  }
}

@media (min-width: 1400px) {
  .header-container, .footer-container {
    padding: 1.15rem 3rem !important;
  }
  .xrc-logo {
    width: 14rem;
  }
  .header-options-item {
    margin: 0rem 1.8rem;
    font-size: 1.2rem;
  }
  .header-options-button {
    padding: 0.5rem 2rem !important;
  }
  .header-container {
    height: 7rem;
  }
  .logo-border {
    height: 7rem;
  }  
}

@media (min-width: 1600px) {
  .header-container, .footer-container {
    padding: 1.5rem 4rem !important;
  }
  .xrc-logo {
    width: 15rem;
  }
  .header-options-item {
    margin: 0rem 2.35rem;
    font-size: 1.4rem;
  }
  .header-options-button {
    padding: 0.6rem 2.2rem !important;
  }
}

@media (min-width: 1800px) {
  .header-container, .footer-container {
    padding: 2rem 5rem !important;
  }
  .xrc-logo {
    width: 17rem;
  }
  .header-options-item {
    margin: 0rem 2.5rem;
    font-size: 1.6rem;
  }
  .header-options-button {
    padding: 0.7rem 2.4rem !important;
  }
  .header-container {
    height: 8rem;
  }
  .logo-border {
    height: 8rem;
  }  
}